{% include 'header.html' %}
<div class="container-xxl sg">
    <form class="sign" method="post">

        <p class="h1_su" style="border: 3px solid white;" wight="250px;"><b>SIGN UP </b> </P>
        {% csrf_token %} {{data}} {% for fm in form %} {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br> {% endfor %}
        <!-- this form styling in css folder forms.css -->

        <br>
        <input class="sub" type="submit" value="Submit"> {% if messages %} {% for messages in message %} {{message}} {% endfor %} {% endif %}
        <a class="sub" href="{% url 'login' %}">login</a>
    </form>
</div>

{% include 'footer.html' %}